In [30]:
#Let's import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
#Now let's load the dataset
df_capacidad = pd.read_csv('c:/Users/ignac/Desktop/202502PT/Proyecto final/CSV/Capacidad.csv', sep=';')
df_demanda = pd.read_csv('c:/Users/ignac/Desktop/202502PT/Proyecto final/CSV/Demanda(bc).csv', sep=';')
df_generacion = pd.read_csv('c:/Users/ignac/Desktop/202502PT/Proyecto final/CSV/Generacion.csv', sep=';')
df_perdidas = pd.read_csv('c:/Users/ignac/Desktop/202502PT/Proyecto final/CSV/Perdidas.csv', sep=';')
df_precios = pd.read_csv('c:/Users/ignac/Desktop/202502PT/Proyecto final/CSV/Precios.csv', sep=';', encoding="latin1")
df_clima1 = pd.read_csv('c:/Users/ignac/Desktop/202502PT/Proyecto final/CSV/Clima.csv', sep=';', encoding="latin1")
df_clima2 = pd.read_csv('c:/Users/ignac/Desktop/202502PT/Proyecto final/CSV/Clima2.csv', sep=';', encoding="latin1")

In [32]:
df_clima = pd.concat([df_clima1, df_clima2], ignore_index=True)

Now we have the datasets loaded, so let's start with some basic analysis:
- Duplicate rows
- Nulls
- Data types

In [37]:
#Let's see those rows that are duplicated
clima_duplicados = df_clima.duplicated().sum()
print(f"Número de filas duplicadas en df_clima: {clima_duplicados}")

#Let's see if we have null values in the dataset and the percentage they represent
null_values = df_clima.isnull().sum()
null_percentage = (null_values / len(df_clima)) * 100
print("Valores nulos en df_clima:")
print(null_values[null_values > 0])
print("Porcentaje de valores nulos en df_clima:")
print(null_percentage[null_percentage > 0])

#Let's now check the data types of the columns
data_types = df_clima.dtypes
print("Tipos de datos en df_clima:")
print(data_types)

Número de filas duplicadas en df_clima: 0
Valores nulos en df_clima:
Temp Media (ºC)        1862
Humedad Media (%)      5790
Precipitacion (mm)    10291
dtype: int64
Porcentaje de valores nulos en df_clima:
Temp Media (ºC)       0.102638
Humedad Media (%)     0.319158
Precipitacion (mm)    0.567264
dtype: float64
Tipos de datos en df_clima:
Source.Name                   object
IdProvincia                    int64
IdEstacion                     int64
Fecha                 datetime64[ns]
Año                            int64
Dia                            int64
Temp Media (ºC)              float64
Humedad Media (%)            float64
Precipitacion (mm)           float64
dtype: object

Now we know:
- We have a lot of duplicate rows we must remove.
- We don't have any relevant nulls.
- We have some columns that are not in the correct data type and we will need to convert them (Fecha to datetime, for example).

In [35]:
#Let's remove the duplicated rows
df_clima = df_clima.drop_duplicates()
#Now leet's fix the data types of the columns:
#First the column 'Fecha' should be in datetime format
df_clima['Fecha'] = pd.to_datetime(df_clima['Fecha'], format='%d/%m/%Y')
#Now columns 'Temp Media (ºC)', 'Humedad Media (%)' and 'Precipitacion (mm)' should be in float format
df_clima['Temp Media (ºC)'] = df_clima['Temp Media (ºC)'].astype(str).str.replace(',', '.').astype(float)
df_clima['Humedad Media (%)'] = df_clima['Humedad Media (%)'].astype(str).str.replace(',', '.').astype(float)
df_clima['Precipitacion (mm)'] = df_clima['Precipitacion (mm)'].astype(str).str.replace(',', '.').astype(float)

C:\Users\ignac\AppData\Local\Temp\ipykernel_1884\2831794221.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clima['Fecha'] = pd.to_datetime(df_clima['Fecha'], format='%d/%m/%Y')
C:\Users\ignac\AppData\Local\Temp\ipykernel_1884\2831794221.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clima['Temp Media (ºC)'] = df_clima['Temp Media (ºC)'].astype(str).str.replace(',', '.').astype(float)
C:\Users\ignac\AppData\Local\Temp\ipykernel_1884\2831794221.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clima['Humedad Media (%)'] = df_clima['Humedad Media (%)'].astype(str).str.replace(',', '.').astype(float)
C:\Users\ignac\AppData\Local\Temp\ipykernel_1884\2831794221.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clima['Precipitacion (mm)'] = df_clima['Precipitacion (mm)'].astype(str).str.replace(',', '.').astype(float)

In [36]:
df_clima

,Source.Name,IdProvincia,IdEstacion,Fecha,Año,Dia,Temp Media (ºC),Humedad Media (%),Precipitacion (mm)
0,MU02_Finca experimental de Totana (CIDA)_01_01...,30,2,2019-01-09,2019,9,9.07,56.94,0.0
1,MU02_Finca experimental de Totana (CIDA)_01_07...,30,2,2017-07-02,2017,183,20.97,57.35,0.0
2,MU02_Finca experimental de Totana (CIDA)_01_07...,30,2,2017-07-03,2017,184,22.17,53.16,0.0
3,MU02_Finca experimental de Totana (CIDA)_01_07...,30,2,2017-07-04,2017,185,22.95,55.33,0.0
4,MU02_Finca experimental de Totana (CIDA)_01_07...,30,2,2017-07-05,2017,186,23.91,58.50,0.0
...,...,...,...,...,...,...,...,...,...
1840763,MA01_M laga_01_07_2018_31_12_2018.csv,29,1,2018-11-21,2018,325,13.06,95.30,4.6
1840764,MA01_M laga_01_07_2018_31_12_2018.csv,29,1,2018-11-22,2018,326,12.96,97.80,3.8
1840765,MA01_M laga_01_07_2018_31_12_2018.csv,29,1,2018-11-23,2018,327,13.80,82.20,11.0
1840766,MA01_M laga_01_07_2018_31_12_2018.csv,29,1,2018-11-26,2018,330,14.30,64.55,1.4
1840767,MA01_M laga_01_07_2018_31_12_2018.csv,29,1,2018-12-13,2018,347,13.60,66.34,5.6